.products-container {
  background-color: var(--alt-bg-color);
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust the minmax value as needed */
  gap: 20px; /* Adjust the gap between elements */
  justify-content: center; /* Center align items horizontally */
}
